{% extends 'base.html.twig' %}

{% block body %}
    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
        <div class="card-body p-0">
            <h4 class="fw-700 text-grey-900 font-xssss mt-1 mb-4">Edit Post</h4>
            
            {{ form_start(form, {'attr': {'class': 'p-0'}}) }}
                <div class="form-group">
                    {{ form_widget(form.description, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'What\'s on your mind?'
                        }
                    }) }}
                </div>
                
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Update Post</button>
                    <a href="{{ path('app_posts') }}" class="btn btn-light ms-2">Cancel</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}