{% extends 'base.html.twig' %}

{% block title %}Edit RecyclagePoint{% endblock %}

{% block body %}
    <h1>Edit RecyclagePoint</h1>

    {{ include('recyclage_point/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recyclage_point_index') }}">back to list</a>

    {{ include('recyclage_point/_delete_form.html.twig') }}
{% endblock %}
