{% extends 'base.html.twig' %}

{% block title %}New RecyclagePoint{% endblock %}

{% block body %}
    <h1>Create new RecyclagePoint</h1>

    {{ include('recyclage_point/_form.html.twig') }}

    <a href="{{ path('app_recyclage_point_index') }}">back to list</a>
{% endblock %}
